
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
  --orange:#ffa500;
}


body {
  font-family: "Roboto", "Helvetica", "Sans-serif";
}

.gallery h1{
  color: black;
  margin-top: -560px;
  padding: 30px;
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-size: 45px;
}

.intro{
  font-family: 'Times New Roman';
  text-align: center;
  font-size: 2.8rem;
  color:darkmagenta;
}


.contact-form input[type=submit]{
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  font-size: 18px;
  width: 50%;
  height: 40px;
  
  
}

.contact-form{
    margin-top: -120px;
}
.contact-form input[type=submit]:hover{
  background-color: transparent;
  color: black;
}

.gallery h2{
  color: crimson;
  margin-top: 40px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
}
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
}
  
  .gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:1rem solid #fff;
    border-radius: .5rem;
    flex:1 1 30rem;
    height: 25rem;
    position: relative;
  }
  
  .gallery .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }

  .gallery .heading h2{
    font-size: 1rem;
    color: palevioletred;
    margin-top: 80px;
  }
  
  .gallery .box-container .box .content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:  2rem;
    padding-top: 5rem;
  }
  
  .gallery .box-container .box:hover .content{
    top:0;
  }
  
  .gallery .box-container .box .content h3{
    font-size: 2rem;
    color:orange;
  }
  
  .gallery .box-container .box .content p{
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    padding:5rem 0;
  }

  .gcontent{
    font-size: 2rem;
    color:black;
    text-align: center;
    font-family: 'Times New Roman';
  }



/* Create two equal columns that floats next to each other */
.gallery .column {
  float:left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}


@media (max-width: 480px)
{
  
  
  .gallery h1{
      font-size: 30px;
      margin-top:90px;
  }
  .gallery h2{
      font-size: 20px;
      
  }
  
}

/* start: footer styles */
footer {
  background: #333;
  padding: 8rem 0;
}

footer .flex {
  padding-bottom: 6rem;
  border-bottom: 1px solid #777;
}

footer h5 {
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 300;
}

footer h5.follow-us {
  margin-top: 1rem;
}

footer .footer-about {
  width: 47%;
}

footer .flex .footer-about h5 {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  width: 65%;
  
}
* {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  
}

footer .footer-quick-links {
  width: 16%;
}

footer .footer-quick-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer-quick-links ul li {
  margin: 10px 0;
}

footer .footer-quick-links ul li a {
  color: #777;
  text-decoration: none;
}

footer .footer-quick-links ul li a:hover {
  color: #fff;
}

footer .footer-subscribe {
  width: 35%;
}

#subscribe-container {
  position: relative;
}
.footer .footer-about p{
  font-family: "Roboto", "Helvetica", "Sans-serif";
  border: 1px solid #6c757d;
}
footer .footer-subscribe input {
  border-radius: 30px;
  height: 43px;
  font-family: "Roboto", "Helvetica", "Sans-serif";
  border: 1px solid #6c757d;
  background-color: transparent;
  font-size: 1rem;
  padding: 10px;
  color: #fff;
  box-sizing: border-box;
  width: 80%;
}

footer button.right-rounded {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #eb35ab;
  font-size: 16px;
  color: #000;
  padding: 10px 30px 9px;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
}

footer button.right-rounded:hover {
  background: #fff;
}

footer .footer-subscribe ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer-subscribe ul li {
  display: inline-block;
  margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
  margin-left: 0;
}

footer .footer-subscribe ul li a {
  text-decoration: none;
  color: #777;
}

footer .footer-subscribe ul li a:hover {
  color: #fff;
}

footer small {
  margin-top: 3rem;
  font-size: 1rem;
  display: block;
  text-align: center;
}

footer small a {
  color: #777;
  text-decoration: none;
}

footer small a:hover {
  color: #fff;
}

footer .footer-about p{
  color: white;
}
/* end: footer styles */



