
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../review/faq.css">
</head>
<body>
	<div class="container">
		<h1>Frequently Asked Questions</h1>
		<details>
		<summary>How do I book a homestay?</summary>
		<div>
	    You can book one of our homestays by contacting us through call or <em> Whatsapp details.</em> You can 
		call us on <em>+91 8476890307</em>.
		</div>
	  </details> <br>
	  <details>
		<summary>What facilities are available?</summary>
		<div>
	   <em>Homemade and organic food, free WiFi,</em> clean & hygienic <em>rooms</em> and all other basic amenities 
	   available.
		</div>
	  </details> <br>
	  <details>
		<summary>Which season is the best to visit?</summary>
		<div>
	   The tags <em>details</em> and <em>summary</em> have you covered.
		</div>
	  </details> <br>
	  <details>
		<summary>Which season is the best to visit?</summary>
		<div>
	   The tags <em>details</em> and <em>summary</em> have you covered.
		</div>
	  </details> <br>
	  <details>
		<summary>What are the rules and regulations?</summary>
		<div>
	   We <em>don't allow</em> unmarried couples. No alcohol or tobacco consumption is allowed. Only
	   vegetarian food is served here.
		</div>
	  </details> <br>
	  <details>
		<summary>What are best sight seeing places to visit?</summary>
		<div>
	   Some of the most preferred places to visit by tourists are <em>Haidakhan temple, Golf course,
		Jhuladevi temple, Seven Stones (for sunset view), Rani Jheel etc.</em> 
		</div>
	  </details> <br>
	  </div>
</body>
</html>