<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AIPEN HOSPITALITIES - Services Page</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="../css/service.css" type="text/css" rel="Stylesheet" /> 
    <link href="../css/v.css" type="text/css" rel="Stylesheet" /> 
</head>

<body>
    
    <div id="header-hero-container">
        <header>
            <div class="flex container">
                <a id="logo" href="#"><img src="../css/plogo.png" width="100" height="90"></a>
                <nav>
                    <button id="nav-toggle" class="hamburger-menu">
                        <span class="strip"></span>
                        <span class="strip"></span>
                        <span class="strip"></span>
                    </button>

                    <ul id="nav-menu">
                        <li><a href="index.html" >Home</a></li>
                        <li><a href="../templates/homestays.html">Homestays</a></li>
                        <li><a href="../templates/services.html" class="active">Services</a></li>
                        <li><a href="../templates/review.html">Reviews</a></li>
                        <li><a href="../templates/about.html">About</a></li>
                        <li><a href="../templates/">Articles</a></li>

                        <li class="ion-icon"><a href="login.php"><ion-icon name="person-circle-sharp"></ion-icon></a></li>
                        <li class="ion-icon1"><a href="#map"><ion-icon name="location"></ion-icon></a></li>
                        <li id="close-flyout"><span class="fas fa-times"></span></li>
                    </ul>
                </nav>
            </div>
        </header>

    </div>
    <div class="whatsapp-btn-container">
        <a class="whatsapp-btn" href="https://wa.me/8010265924"><i class="fab fa-whatsapp"></i></a>
        <span>Contact Us</span>
    </div>
  
 

    
    <div class="ourserv">
        <section class="facility">
            <div class="services">
            <div class="heading">
                <h3>We provide services of</h3>
            </div> <br> <br> <br> <br> <br>
            <div class="box-container">
               <div class="box">
                  <img src="../img/cup.png" alt="cup"> <br>
                  <h3>Cozy Little Cafes</h3>
                  <p>where we serve organic food with live music playing by talented artists</p>
               </div>
               <div class="box">
                  <img src="../img/hills.png" alt="hills"> <br>
                  <h3>Tours & Treks In The State</h3>
                  <p>of beautiful & awestruck places you've not witnessed before </p>
               </div>
               <div class="box">
                  <img src="../img/road.png" alt="road"> <br>
                  <h3>Booking for rides </h3>
                  <p>to visit temples, hill stations, gardens & majestic waterfalls</p>
               </div>
            </div> <br> <br>  <br> 
            <div class="booktour">
            <div class="contact-form">
                <center> <a href="btour.php"><input type="button" name="tsubmit" id="demo" value="Book Tour or Trek"> </a></center>
            </div>
        </div>
        </div>
        </section> <br><br>
          <section class="gallery" id="gallery"> <br> <br>
            <h1 class="heading"> Musafir Cafe </h1> <br>
            <div class="box-container">
                <div class="box">
                    <img src="../static/musafir0.png" alt="table">
                </div>
                <div class="box">
                    <img src="../static/musafir2.jpg" alt="food">
                </div>
                <div class="box">
                    <img src="../static/musafir3.jpg" alt="bottles">
                </div>
                <div class="box">
                    <img src="../static/musafir4.jpg" alt="mnight">
                </div>
                <div class="box">
                    <img src="../static/musafir5.png" alt="balloons">
                </div>
                <div class="box">
                    <img src="../static/musafir6.jpg" alt="night">
                </div>
                <div class="box">
                    <img src="../static/musafir7.JPG" alt="night">
                </div>
                <div class="box">
                    <img src="../static/musafir8.JPG" alt="night">
                </div>
            </div>
           
        </section>
        
        <section class="gallery1" id="gallery"> <br> <br>
            <h1 class="heading"> Tours </h1> <br> <br> <br>
            <div class="box">
        <h1 class="vineet">Even whole 6 months aren't enough to fully explore the beauty and secrets of Uttarakhand. We offer you various packages to
        tour places all over Uttarakhand while you are on stay. Th tour packages are cost friendly, complete with taking your 
        comfort in mind. Haridwar, Rishikesh, Kedarnath, Badrinath, Almora, The famous Sun Temple, Nainital, Valley of Flowers,
        Jim Corbett National Park, Auli, Kausani, Almora, Dehradun, Mussoorie (with its Winter Line), Lansdowne, Landour, Mukteshwar,
        Bageshwar, Bhowali, Champawat.... and the list of places is never ending. Get your calendar ready to visit this places with us !! </h1>
        </div>
            <div class="box-container">
                <div class="box">
                    <img src="../static/someshwar.jpg" alt="Someshwar">
                </div>
                <div class="box">
                    <img src="../static/rishikesh.jpg" alt="Rishikesh">
                </div>
                <div class="box">
                    <img src="../static/vofflowers.jpg" alt="valleyofflowers">
                </div>
                <div class="box">
                    <img src="../static/nainital.jpg" alt="Nainital">
                </div>
                <div class="box">
                    <img src="../static/kedarnath.jpg" alt="Kedarnath">
                </div>
                <div class="box">
                    <img src="../static/jcorbett.jpg" alt="JimCorbett">
                </div>
                <div class="box">
                    <img src="../static/Kausani.jpg" alt="Kausani">
                </div>
                <div class="box">
                    <img src="../static/bhimtal.jpg" alt="Bhimtal">
                </div>
                <div class="box">
                    <img src="../static/Auli.jpg" alt="Auli">
                </div>
                <div class="box">
                    <img src="../static/Haridwar.jpg" alt="Haridwar">
                </div>
            </div>
        </section>
        
        <section class="gallery1" id="gallery"> <br> <br>
            <h1 class="heading"> Treks </h1> <br> <br> <br>
            <div class="box">
                <h1>
                UTTARAKHAND - a place full of high mountains, deep valleys and terrains. It's perfect place to plan your trek for. 
                We have a bundle of packages to offer you for treks with guides. Pandavkholi (famous because of Pandavas), Pandavkholi, 
                Chhota(or Chota) Kailash, Rudranath (temple),Chopta, Kedartal Trek, trails between lush forests and a lot of unknown places
                which are known to very less people.
                </h1>
                </div>
            <div class="box-container">
                <div class="box">
         <img src="../static/chotakailash.jpg" alt="ChotaKailash">
        <figcaption><b>Chota Kailash</b> </figcaption></div>
        <div class="box">
        <img src="../static/ontrek.jpg" alt="trek">
         <figcaption> <b>Forest trails</b></figcaption></div>
        <div class="box">
        <img src="../static/roadtrek.jpg" alt="road">
        <figcaption><b> Hilly roads</b></figcaption></div>
        <div class="box">
        <img src="../static/forest.jpg" alt="forest">
        <figcaption> <b>Walks in forest</b></figcaption>
        </div>
        <div class="box">
        <img src="../static/pandavkholi.jpg" alt="Pandavkholi">
        <figcaption><b> Pandavkholi </b></figcaption>
        </div> </div>
        </section>
        </div>



    <section id="map">
        <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d687.9141169167806!2d72.81107859287413!3d19.572055797097676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be707951628a7fb%3A0x3ea1398224c63b64!2sParivar%20Developers!5e0!3m2!1sen!2sin!4v1663946365870!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><center>
    </section>

    <footer>
        <div class="flex container">
            <div class="footer-about">
                <h5><b>ABOUT US</b> <REAL class="com"></REAL></h5>
                <p>
                    We are a team of service providers across and around Ranikhet, Uttarakhand, India. Our services include 
                    homestays. We also own cafes with live music. We also provide services of trekking on 
                    trails as well as taxi services. <br>
                    If you're looking out for long or short stays, corporate or individual trips as well as a cozy place 
                    for honeymoon trip then you're at the right place !<br>
                    Look around in our website to know more.
                </p>
            </div>

            <div class="footer-quick-links">
                <h5>Quick Links</h5>
                <ul>
                        <li><a href="homestays.html">Homestays</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="sservices.html">Services</a></li>
                        <li><a href="review.html">Reviews</a></li>
                        <li><a href="index.html#contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer-subscribe">
                <h5>E-mail Now </h5>
                <div id="subscribe-container">
                    <form name="myform2" action="emailid.php" method="POST">
                    <input type="email" name="subscribe" placeholder="Enter Email" required="" />
                    <button class="right-rounded" type="submit" name="submit" >Send</button>
                </form>
                </div>
            
                <h5 class="follow-us">Follow Us</h5>
                <ul>
                    <li><a href="https://www.facebook.com/musafir.ranikhet/?ti=as"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagaram.com/musafircafe.ranikhet"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://hsng.co/4JLvsIocIlsG"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <small>
            Copyright &copy; 2019 All rights reserved | This template is made with <span class="fa fa-heart"></span> by <a href="index.html">Parivar</a>
        </small>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        $(function () {
            let headerElem = $('header');
            let logo = $('#logo');
            let navMenu = $('#nav-menu');
            let navToggle = $('#nav-toggle');

           $('#properties-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                prevArrow: '<a href="#" class="slick-arrow slick-prev">previous</a>',
                nextArrow: '<a href="#" class="slick-arrow slick-next">next</a>',
                responsive: [
                    {
                        breakpoint: 1100,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 530,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    }
                ]
           });

           $('#testimonials-slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: '<a href="#" class="slick-arrow slick-prev"><</a>',
                nextArrow: '<a href="#" class="slick-arrow slick-next">></a>'
           });

           navToggle.on('click', () => {
               navMenu.css('right', '0');
           });

           $('#close-flyout').on('click', () => {
                navMenu.css('right', '-100%');
           });

           $(document).on('click', (e) => {
               let target = $(e.target);
               if (!(target.closest('#nav-toggle').length > 0 || target.closest('#nav-menu').length > 0)) {
                   navMenu.css('right', '-100%');
               }
           });

           $(document).scroll(() => {
               let scrollTop = $(document).scrollTop();

               if (scrollTop > 0) {
                   navMenu.addClass('is-sticky');
                   logo.css('color', '#000');
                   headerElem.css('background', '#fff');
                   navToggle.css('border-color', '#000');
                   navToggle.find('.strip').css('background-color', '#000');
               } else {
                   navMenu.removeClass('is-sticky');
                   logo.css('color', '#fff');
                   headerElem.css('background', 'transparent');
                   navToggle.css('bordre-color', '#fff');
                   navToggle.find('.strip').css('background-color', '#fff');
               }

               headerElem.css(scrollTop >= 200 ? {'padding': '0.5rem', 'box-shadow': '0 -4px 10px 1px #999'} : {'padding': '1rem 0', 'box-shadow': 'none' });
           });

           $(document).trigger('scroll');
        });
    </script>
</body>
</html>